name: Deploy
on:
  push:
    branches:
      - 'feature/**' 
jobs:
  QA:
    name: Publish QA instance
    environment:
        name: qa
    runs-on: ubuntu-latest
#    if: ${{ github.event.inputs.ready-to-qa == 'true' }}
    strategy:
      matrix:
        python-version: ["3.7"]
    steps:
    -  name: Set up Python ${{ matrix.python-version }}
       uses: actions/setup-python@v4
       with:
         python-version: ${{ matrix.python-version }}
    -  name: Install dependencies
       run: |
         python -m pip install --upgrade pip
         if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
  zappts:
    needs: QA
    name: Publish Zappts instance
    environment:
        name: zappts
#      url: ${{ steps.step_id.outputs.url_output }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7"]
    steps:
    -  name: Set up Python ${{ matrix.python-version }}
       uses: actions/setup-python@v4
       with:
         python-version: ${{ matrix.python-version }}
    -  name: Install dependencies
       run: |
         python -m pip install --upgrade pip
         if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
